/* 重置element ui样式 */
.el-button--small{
  border-radius:5px;
  height:32px;
  padding:8px 15px;
}
.el-message-box__wrapper{
  z-index: 999999999!important;
}
.el-select-dropdown{
  z-index: 999999999!important;
}
.el-input__suffix{
  right:15px !important;
}
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}






















